Hey <%= @user.first_name %>!
<% if @user == current_user %>
<p>You're logged in!</p>
<%= link_to "Create New Event", new_event_path %>

<h2>Friends List</h2>
<ol>
  <% @user.friends.each do |friend| %>
  <li><%=link_to "#{friend.first_name} #{friend.last_name}", user_path(friend)%></li>
  <% end %>
</ol>
<%else %>
<p>You're not logged in!</p>
<%end %>
<!-- random events in city -->
<!-- friends events -->
<!-- friends messages/comments -->
