/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
h1, h2, h3  {
  font-family: "Playfair Display";
  font-weight: bold;
}
p, h4, h5 {
  font-weight: lighter;
}
}

#profile-image {
  max-width: 275px;
  max-height: 250px;
}

#card-padding {
  margin-bottom: 1rem;
}

#mini-img {
  max-width: 100px;
  max-height: 100px;
}

#event-desc {
  margin-top: -125px;
}

.jumbotron {
  background-image: url(http://i.imgur.com/kziAoNv.gif);
  background-repeat: no-repeat;
  margin-top: -50px;
  background-position: 0%, 25%;
  background-size: cover;
  background-attachment: fixed;
  top: 25%;
  width: 100%;
  height: 1000px;
  text-align: center;
  text-shadow: black 0.3em 0.3em 0.3em;
  color: white;
}

.login-type {
  color: black;
}

.new-user-jumbo {
  background-image: url(https://media.timeout.com/images/100521811/image.jpg);
  background-repeat: no-repeat;
  margin-top: -50px;
  background-position: 0%, 25%;
  background-size: cover;
  background-attachment: fixed;
  top: 25%;
  width: 100%;
  height: 1000px;
  text-align: center;
  text-shadow: black 0.3em 0.3em 0.3em;
  color: white;
}

.navbar {
  font-size: 175%;
  font-family: "Playfair Display";
  font-weight: bold;
}

.jumbotron {h1 {
  font-family: "lobster-regular";
}}
